/* Reset de margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1612152916525-a569e78ed905?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  pointer-events: auto;
  background-size: 100%;
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  background-color: #00ff7f; /* Cor de fundo da faixa */
  border-bottom: 2px solid #d8c1f1; /* Borda inferior branca */
  color: #2f4f4f; /* Cor do texto dentro da faixa */
  width: 100%; /* Largura total */
  padding: 10px 20px;
  height: 110px; /*altura do header*/
  justify-content: space-between; /*alinha itens no header comm espaço entre eles*/
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
  overflow: hidden; /* Evita que o conteúdo exceda a largura do header */
}

/* Estilos para o contêiner principal */
.profile {
  display: flex;
  gap: 10px;
  align-items: center; /*alinha os itens no topo*/
  text-shadow: 2px 1px #d8c1f1; /*sombra no texto*/
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.profile img {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 4px 5px #91ba71;
  border: 3px solid #71ba91;
  flex-shrink: 0; /*impede que a imagem incolha*/
}
.profile h3 {
  font-size: 18px;
}

/* Estilos para o conteúdo principal */
.hamburger-menu {
display: none;
font-size: 24px;
background: none;
border: none;
cursor: pointer;
z-index: 1000; /* Certifique-se de que o botão está acima de outros elementos */
position: relative;
}
.submit-button {
display: flex;
gap: 30px;
align-items: center;

}
.submit-button,
.hamburger-menu {
position: relative;
z-index: 10;
}
.submit {
width: 90px;
height: 90px;
border: none; /* Remove a borda do botão */
border-radius: 30%; /* Adiciona bordas arredondadas ao botão */
font-weight: 500;
cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
outline: none;
font-size: 14px; /* Define o tamanho da fonte do botão */
transition: background-color 0.3s; /* Adiciona uma transição suave à cor de fundo do botão */
background-color: transparent; /* Remove a cor de fundo para tornar o link clicável */
}

.button-1 {
background-color: #9171ba;
}
.submit a {
text-decoration: none;
color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}
/* Adicione espaço entre os botões */
.submit-button button + button {
margin-top: 10px;
}
.submit:hover {
background-color: #d8c1f1;
}

section {
  margin: 40px;
}

/* Estilos para a imagem em tela cheia */

#project1 #project2 #project3 {
  display: flex;
  flex-wrap: wrap;
  align-items: justify;
  top: 20px;
}

.project p {
  font-weight: 500;
}
.project h2 {
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.project h3 {
  margin: 5px;
  padding: 15px;
}

.footer {
  background-color: #9171ba;
  text-align: center;
  padding: 10px;
  position: relative;
  align-items: center; /* Centraliza os itens na horizontal */
}
.footer h5 {
  margin: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .profile img {
    width: 90px;
    height: auto;
  }
  .profile h2 {
    font-size: 16px;
  }

  .submit-button {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 10px; /* Ajuste para ficar abaixo do header */
    right: 5px;
    padding: 5px;
    border-radius: 8px;

  }

  /* Exibe o menu quando ativo */
  .submit-button.active {
    display: flex;
  }
  
  /* Exibe o botão de hambúrguer */
  .hamburger-menu {
    display: block;
  }

  /* Estilização dos botões no menu */
  .submit {
    width: 80px;
    height: 35px;
    font-size: 12px;
    border-radius: 4px;
  }

  .submit:hover {
    background-color: #ddd;
  }
}

  